.example-container {
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.items{
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;

}
.row{
  display: flex;
  flex-direction: row;
}
.active:hover{
  z-index: 9;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.filters{
 padding-top: 60px;
}
.card{
  display: block;
  max-width: 250px;
  max-height: 150px;
  margin: auto;
}
.panel{
  width: 350px;
}
.sliders{
  padding-left: 5px;
}
.invisible{
  display: none;
}
.load{
  width: 100%;
}
